{%extends "pageWrapper.html"%}

{%block title%}{{groupName}}{%endblock%}

{%block link%}{%endblock%}

{%block content%}

	<div class="common1">
		<div class="triangle-left-active"></div>
		<p class="rer1">Новости сообщества</p>
		<div class="triangle-right-active"></div>
	</div>
	<div class="common2">
		<div class="triangle-left-inactive"></div>
		<p class="rer2">Новости друзей</p>
		<div class="triangle-right-inactive"></div>
	</div>
	<div class="newspanel">
			<div class="post">
				<h2>Новое оформление сайта</h2>
				<p class="pt">Да, внешне ничего не изменилось, но теперь стала доступна вкладка 'Настройки', где можно поменять оформление сайта. Для этого нужен набор CSS файлов: core.css, menu.css, news.css, chat.css и about.css. Создать их можно самому. Чтобы узнать, как должны состоять эти файлы, нужно зайти в консоль разработчика (F12). После этого нужно выбрать вкладку 'Стили', там будут показаны все файлы стилей, которые используются на этой странице. Для изучения полного списта файлов нужно проделать это на всех страницах сайта. На самом деле, достаточно одного файла из набора для нормальной работы сайта, но выглядеть с этим одним файлом он будет безобразно.</p>
			</div>
			<div class="post">
				<h2>Теперь у нас есть SSL-сертификат</h2>
				<p class="pt">После суток изучения того, как работатет Namecheap, я смог сделать много чего. Но самое главное вы можете увидеть возле адресной строки. Это зелёный замок. Это то, что и даёт сертификат. А также, как вы успели заметить, на сайте появилась страница регистрации и изменился дизайн страницы авторизации.</p>
			</div>
			<div class="post">
				<h2>Nulla впервые на хостинге</h2>
				<p class="pt">Уже идёт второй месяц работы на сайтом и одновременное изучаение сайтостроения. За это время уже успел появиться общий дизайн и пара рабочих вкладок меню. Да, пока что кроме этих вкладок развлечений и нет, но это очень большой шаг лично для меня.</p>
			</div>
			<div class="ending"></div>
	</div>
{%endblock%}