.newspanel {

	background: #00d778;
	margin-top: 10px;
	z-index: -2;
	text-align: left;
	position: absolute;

}

.post {

	margin-left: 11px;
	margin-top: -10px;

}

.common1 {

	position: absolute;
	margin-left: 22px;
	font-size: 17px;
	top: -20px;
	height: 38px;
	padding-left: 5px;
	text-align: left;
	z-index: -1;
	width: 151px;
	background: #00d778;

}

.common2 {

	position: absolute;
	margin-left: 22px;
	background: #266e3e;
	font-size: 17px;
	top: -20px;
	height: 38px;
	width: 151px;
	left: 180px;
	padding-left: 5px;
	text-align: center;
	z-index: -2;

}

.triangle-left-active {

	width: 0;
	height: 0;
	border-bottom: 10px solid #00d778;
	border-right: 10px solid #00d778;
	color: black;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	margin-top: 19px;
	margin-left: -24px;

}

.triangle-right-active {
	
	width: 0;
	height: 0;
	border-bottom: 10px solid #00d778;
	border-right: 10px solid transparent;
	color: black;
	border-left: 10px solid #00d778;
	border-top: 10px solid transparent;
	margin-top: -38px;
	margin-left: 151px;

}

.triangle-left-inactive {

	width: 0;
	height: 0;
	border-bottom: 10px solid #266e3e;
	border-right: 10px solid #266e3e;
	color: black;
	border-left: 10px solid transparent;
	border-top: 10px solid transparent;
	margin-top: 19px;
	margin-left: -24px;

}

.triangle-right-inactive {

	width: 0;
	height: 0;
	border-bottom: 10px solid #266e3e;
	border-right: 10px solid transparent;
	color: black;
	border-left: 10px solid #266e3e;
	border-top: 10px solid transparent;
	margin-top: -38px;
	margin-left: 151px;

}

.rer1 {

	margin-top: -20px;
	margin-left: -5px;

}

.rer2 {

	margin-top: -20px;
	margin-left: -5px;

}

.pt {

	margin-top: -20px;

}

.ending {

	background: repeating-linear-gradient(-45deg, #00d778 0px, #00d778 30px, #5af67d 30px, #5af67d 60px);
	width: 3200px;
	height: 43px;
	margin-left: -20px;
	z-index: -2;
	position: absolute;
	animation-name: movement;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}

.frn {

	height: 90px;
	background-color: #00d778;
	width: 8px;
	margin-top: -87px;

}

@keyframes movement {

	from {

		margin-left: 0%;

	}

	to {

		margin-left: -100%;

	}

}

@media (max-width: 960)	{


	.ending {	

		display: none;

	}

}